.head{
    display: flex;
    background-color: rgb(1, 183, 255);
    justify-content: space-between;
}
.head a img{
    display: inline-block;
    padding: 6px;
}
.head a p{
    color: #ffff;
    line-height: 52px;
    display: inline-block;
    text-decoration: none;
}

.head nav{
    line-height: 52px;
    font-size: 0;
}
.head nav a{
    color: #ffff;
    display: inline-block;
    text-decoration: none;
    padding: 0 6px;
    font-size: 20px;
}

.head nav a:hover{
    background-color: rgb(0, 0, 0);
}
.img img{
    width: 100%;
}
.about{
    background-color: rgb(1, 183, 255);
}
.about >h2{
    font-size: 42px;
    text-align: center;
    padding: 20px;
    color: #fff;
}
.about .wrap{
    display: flex;
    padding: 5px;
}
.fight{
    width: 50%;
}
.wrap img{
    width: 100%;
}
.fight h2{
    text-align: center;
    font-size: 25px;
    padding: 10px;
}
.text {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}
@media screen and (min-width:768px) {
    .pic{
        width: 50%;
    }
    .text{
        width: 50%;
    }
    
}